services:
  nginxpm:
    image: jc21/nginx-proxy-manager:latest
    environment:
      - PUID=${HL_USER}
      - PGID=${HL_GROUP}
    volumes:
      - ${HL_CONFIG_FOLDER}/nginxpm/data:/data
      - ${HL_CONFIG_FOLDER}/nginxpm/letsencrypt:/etc/letsencrypt
    ports:
      - 80:80 # Public HTTP Port
      - 443:443 # Public HTTPS Port
      - 81:81 # Admin Web Port
    restart: unless-stopped
    networks:
      - main

networks:
  main:
    name: main
    external: true
