# Generate a key with `openssl rand -hex 32`
HL_ROMM_AUTH_SECRET_KEY=
HL_MARIADB_ROOT_PASSWORD=
HL_MARIADB_PASSWORD=
# From https://dev.twitch.tv/console/apps, see https://docs.romm.app/4.5.0/Getting-Started/Metadata-Providers/#igdb
HL_IGDB_CLIENT_ID=
HL_IGDB_CLIENT_SECRET=
