services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    environment:
      - PUID=${HL_USER}
      - PGID=${HL_GROUP}
      - TZ=${HL_TZ}
      - VERSION=docker
      - PLEX_CLAIM=${HL_PLEX_CLAIM:?HL_PLEX_CLAIM is required}
    volumes:
      - ${HL_CONFIG_FOLDER}/plex:/config
      - ${HL_DATA_FOLDER}/tv:/tv
      - ${HL_DATA_FOLDER}/movies:/movies
      - ${HL_DATA_FOLDER}/videos:/videos
      - ${HL_DATA_FOLDER}/photos:/photos
      - ${HL_DATA_FOLDER}/music:/music
    ports:
      - 32400:32400 # Web UI Port
      - 32469:32469 # Plex DLNA Server Port
      - 1900:1900/udp # Plex DLNA Server Port
    restart: unless-stopped
    networks:
      - main

networks:
  main:
    name: main
    external: true
