services:
  code:
    image: lscr.io/linuxserver/code-server:latest
    environment:
      - PUID=${USER}
      - PGID=${GROUP}
      - TZ=${TZ}
      - SUDO_PASSWORD=${CODE_SERVER_SUDO_PASSWORD}
      # SSH agent forwarding
      - SSH_AUTH_SOCK=/ssh-agent
    volumes:
      - ${CONFIG_FOLDER}/Code-Server:/config
      # SSH agent forwarding
      - ${SSH_AUTH_SOCK}:/ssh-agent
    ports:
      - 8443:8443
    restart: unless-stopped
    networks:
      - main

  codeconfigs:
    image: lscr.io/linuxserver/code-server:latest
    environment:
      - PUID=${USER}
      - PGID=${GROUP}
      - TZ=${TZ}
      - SUDO_PASSWORD=${CODE_SERVER_SUDO_PASSWORD}
      - DEFAULT_WORKSPACE=/config/workspace
    volumes:
      - ${CONFIG_FOLDER}/Code-Server:/config
      - ${CONFIG_FOLDER}:/config/workspace
    ports:
      - 8444:8443
    restart: unless-stopped
    networks:
      - main

networks:
  main:
    name: main
    external: true
