services:
  code:
    image: lscr.io/linuxserver/code-server:latest
    environment:
      - PUID=${HL_USER}
      - PGID=${HL_GROUP}
      - TZ=${HL_TZ}
      - SUDO_PASSWORD=${HL_CODE_SERVER_SUDO_PASSWORD:?HL_CODE_SERVER_SUDO_PASSWORD is required}
      # SSH agent forwarding
      - SSH_AUTH_SOCK=/ssh-agent
    volumes:
      - ${HL_CONFIG_FOLDER}/code:/config
      # SSH agent forwarding
      - ${HL_SSH_AUTH_SOCK:?HL_SSH_AUTH_SOCK is required}:/ssh-agent
    ports:
      - 8443:8443
    restart: unless-stopped
    networks:
      - main

  codeconfigs:
    image: lscr.io/linuxserver/code-server:latest
    environment:
      - PUID=${HL_USER}
      - PGID=${HL_GROUP}
      - TZ=${HL_TZ}
      - SUDO_PASSWORD=${HL_CODE_SERVER_SUDO_PASSWORD:?HL_CODE_SERVER_SUDO_PASSWORD is required}
      - DEFAULT_WORKSPACE=/config/workspace
    volumes:
      - ${HL_CONFIG_FOLDER}/code:/config
      - ${HL_CONFIG_FOLDER}:/config/workspace
    ports:
      - 8444:8443
    restart: unless-stopped
    networks:
      - main

networks:
  main:
    name: main
    external: true
